/* */
/* Universal CSS */

.full-screen {
    position:absolute; 
    min-height: 1000px;
    left:0px; 
    right:0px; 
    top:0px;
    bottom: 0px;
}

/* Background Gradient CSS was made by Manuel Pinto, and can be found at: "https://codepen.io/P1N2O/pen/pyBNzX" */
.gameBoard {
	width: 100vh;
    color: #fff;
    bottom: 0;
	background: linear-gradient(-45deg, rgb(1, 6, 83), rgb(31, 46, 255), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.overlay{
    background:url("../images/water_texture.png");
    -webkit-animation:300s scroll infinite linear;
    -moz-animation:300s scroll infinite linear;
    -o-animation:300s scroll infinite linear;
    -ms-animation:300s scroll infinite linear;
    animation:300s scroll infinite linear;
    width:100%;
    height:100%;
}

@-webkit-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
    } 

@-moz-keyframes scroll{
    100%{
        background-position:0px -3000px;
    }
}

@-o-keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
}

@-ms-keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
}

@keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
}

.container-fluid {
    padding: 0;
}

.row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.col-12 {
    padding: 0;
}

.buryIt {
    display: none !important;
}

/* Navbar CSS */

.navbar {
    padding: 0rem 1.5rem;
}

.navDiv {
    justify-content: flex-end !important;
    align-content: center !important;
}

/* General Rows, Columns and Header CSS */

.all-screens {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title-row{
    height: 5vw;
    margin-bottom: 1%;
}

.whale-diplomacy-title {
    text-align: center;
    padding: 1%;
    font-size: 3vw;
}

.gameColumn {
    background-color: rgba(0, 1, 59, 0.795);
    bottom: 0;
    padding: 1% 0% 2%;
    border: 3px solid rgb(126, 218, 255);
    box-shadow: 0px 0px 10px rgb(126, 218, 255);
    -webkit-box-shadow: 0px 0px 10px rgb(126, 218, 255);
    -moz-box-shadow:  0px 0px 10px rgb(126, 218, 255);
}

.gameRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.playButtons {
    display: inline-flex;
    align-self: center;
    justify-content: center;
    vertical-align: middle;
}

/* Start Screen CSS*/

.start-screen-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.intro-row {
    text-align: center;
}

.scenario-Title {
    margin-bottom: .5%;
}

.scenario-text {
    padding: 0 3%;
    margin-bottom: .5%;
    font-size: 1.2vw;
}

.instructions-title-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2%;
}

.instructions-title {
    text-align: center;
    font-size: 1.5vw;
}

.instructions-text {
    text-align: center;
    font-size: 1.2vw;
}

.start-gif-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2%;
}

.start-screen-gif{
    background-image: url("../images/orcaCircles.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    display: inline-flex;
}

.start-button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.start-button{
    text-align: center;

}

/* QA Screen CSS*/

.QA-instructions-row{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
}

.question-timer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.question-timer-text {
    display: flex;
    justify-self: flex-end;
}

.questionTime {
    display: flex;
    text-align: left;
}

.amswers-row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
}

.answer-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    vertical-align: middle;
    margin: auto;
}

.currentImg {
    max-width: 100%;
}

.nextQ-timer-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nextQ-timer-text {
    display: flex;
    text-align: right;
}

.nextQTime {
    display: flex;
    text-align: left;
}

/* Ending Screen CSS*/


/* All Answer Images Specific CSS*/

.cImg1 {
}

.cImg2 {

}

.cImg3 {

}

.cImg4 {

}

.cImg5 {

}

.cImg6 {

}

.cImg7 {

}

.cImg8 {

}

.cImg9 {

}

.cImg10 {

}

.icImg1 {

}

.icImg2 {

}

.icImg3 {

}

.icImg4 {

}

.icImg5 {

}

.icImg6 {

}

.icImg7 {

}

.icImg8 {

}

.icImg9 {

}

.icImg10 {

}
